
@{
    ViewData["Title"] = "PageNotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content -->
<section class="content container p-0 category ">
    <!-- Category page -->
    <article class="category-panel">
        <div class="article-content px-1 bg-white mt-3">
            <div class="row m-0">
                <div class="text-center m-auto pt-3 pb-5">
                    <lottie-player class="m-auto" src="./Assets/json/err404.json" background="transparent" speed="1" style="max-width: 400px;" loop autoplay></lottie-player>
                    <h5 class="font-weight-bold mb-2">Không tìm thấy trang bạn yêu cầu.</h5>
                    <p>Xin lỗi, có vẻ như địa chỉ bạn truy cập không tồn tại.</p>
                    <p>Có thể URL bị hỏng hoặc đã bị quản trị viên gỡ bỏ. Bạn có thể <a href="javascript:history.back();">Quay trở lại</a> hoặc về <a href="/">Trang Chủ</a></p>
                </div>
            </div>
        </div>
    </article>
</section>


