
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextaccessor
    <!-- footer -->
<section class="footer pb-4 mt-3">
    <div class="send-letter">
        <div class="d-block d-md-flex container p-0 align-items-center pt-4 pb-4">
            <div class="col-lg-3 d-none d-lg-block">
                <img src="~/Assets/images/send-letter.webp" alt="send email" />

            </div>
            <div class="col-12 col-lg-3 col-md-6 col-sm-12 pl-xs-0 pl-3 text-center text-md-left mb-2 mb-md-0">
                <h4>Đăng ký nhận tư vấn</h4>
                <p class="m-0">Hãy để lại số điện thoại chúng tôi sẽ tư vấn cho bạn hoặc liên hệ trực tiếp <a href:"tel:0911184952">0911.184.952</a></p>
            </div>
            <div class="col-12 col-lg-6 col-md-6 col-sm-12 justify-content-md-end justify-content-center d-flex">
                <div class="send-mail-form form-inline">
                    <div class="form-group mx-4 my-0">
                        <input type="email" class="form-control" id="inputPassword2" placeholder="Nhập số điện thoại của bạn">
                    </div>
                    <button type="submit" class="btn btn px-4 py-2" onclick="RegSubscription()">Đăng ký</button>
                </div>
            </div>
        </div>
    </div>



    <div class=" container p-0">
        <div class="d-block d-lg-flex py-3 py-lg-5">
            <div class="col-12 col-lg-3 col-sm-12 pr-lg-0 toturial">
                <div class="toturial-title d-flex d-lg-block justify-content-between align-items-center">
                    <h4 class="d-block d-sm-flex justify-content-start text-uppercase">ĐÁ NINH BÌNH VINH QUANG</h4>
                    <button class="navbar-toggler d-lg-none d-flex justify-content-end " type="button" data-toggle="collapse" data-target="#navbarNav-hdnm" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="navbar navbar-expand-lg d-block d-lg-flex  align-items-left align-items-lg-center px-0">
                    <ul class="collapse navbar-collapse  list-unstyled" id="navbarNav-hdnm">
                        <li><b>Địa chỉ:</b> Làng nghề đá mỹ nghệ Ninh Vân - Hoa Lư - Ninh Bình</li>
                        <li><b>Tài khoản ngân hàng</b></li>
                        <li><b>Chủ tài khoản:</b> Lã Huy Quang</li>
                        <li><b>Số tài khoản :</b> 0550 180 866 868</li>
                        <li>Ngân hàng quân đội (MB Bank)</li>
                        <li>Điện thoại liên hệ : <a href="tel:0911184952">0911.184.952</a> </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-sm-12 pr-lg-0 toturial">
                <div class="toturial-title d-flex d-lg-block justify-content-between align-items-center">
                    <h4 class="d-block d-sm-flex justify-content-start text-uppercase">VỀ CHÚNG TÔI</h4>
                    <button class="navbar-toggler d-lg-none d-flex justify-content-end " type="button" data-toggle="collapse" data-target="#navbarNav-hdnb" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="navbar navbar-expand-lg col-sm-12 d-block d-lg-flex  align-items-left align-items-lg-center px-0">
                    <ul class="collapse navbar-collapse  list-unstyled" id="navbarNav-hdnb">
                        <li><a href="/">Giới thiệu</a></li>
                        <li><a href="/">Tiêu chí phát triển</a></li>                                                
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-sm-12 pr-lg-0 toturial">
                <div class="toturial-title d-flex d-lg-block justify-content-between align-items-center">
                    <h4 class="d-block d-sm-flex justify-content-start text-uppercase">DỊCH VỤ</h4>
                    <button class="navbar-toggler d-lg-none d-flex justify-content-end " type="button" data-toggle="collapse" data-target="#navbarNav-dcnb" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="navbar navbar-expand-lg d-block d-lg-flex  align-items-left align-items-lg-center px-0">
                    <ul class="collapse navbar-collapse  list-unstyled" id="navbarNav-dcnb">
                        <li><a href="/">Tư vấn miễn phí</a></li>
                        <li><a href="/">Thi công chuyên nghiệp</a></li>
                        <li><a href="#">Giao hàng đúng tiến độ</a></li>
                        <li><a href="#">Bảo hành trọn đời tất cả sản phẩm</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-sm-12 pr-lg-0 toturial">
                <div class="toturial-title d-flex d-lg-block justify-content-between align-items-center">
                    <h4 class="d-block d-sm-flex justify-content-start text-uppercase">Fanpage Facebook</h4>
                    <button class="navbar-toggler d-lg-none d-flex justify-content-end " type="button" data-toggle="collapse" data-target="#navbarNav-dcnb1" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="navbar navbar-expand-lg d-block d-lg-flex  align-items-left align-items-lg-center px-0">
                    <ul class="collapse navbar-collapse  list-unstyled" id="navbarNav-dcnb1">
                     

                    </ul>
                </div>
            </div>
        </div>
        @*<div class="d-flex ">
            <div class="copyright col-12">
                <div class="d-flex align-items-center mb-1 mb-sm-0">
                    <a href="/" class="d-inline-block  mr-2">
                        <img src="~/Assets/images/LogoVQ.png" alt="logo" />
                    </a>
                    <h4 class="d-inline-block ">Xưởng đá mỹ nghệ Vinh Quang</h4>
                </div>                
            </div>
        </div>*@
        <div class=" d-block d-lg-flex my-2 mt-lg-4 mb-lg-0 text-center align-items-center">
            <div class="col-12  col-lg-5 col-md-12 col-sm-12">
                <img src="~/Assets/images/certificate.webp" alt="certificate" />
            </div>
            <div class="col-12 col-lg-4 col-md-12 col-sm-12">
                <h4>Theo Dõi Chúng Tôi Trên Mạng Xã Hội</h4>
                <div class="d-block d-lg-flex  mt-4">
                    <a href="#" class="mr-2">
                        <img src="~/Assets/images/telegram.webp" alt="telegram" />
                    </a>
                    <a target="_blank" href="/" class="mr-2">
                        <img src="~/Assets/images/youtube.webp" alt="youtube" />
                    </a>
                    <a target="_blank" href="/" class="mr-2">
                        <img src="~/Assets/images/facebook.webp" alt="facebook" />
                    </a>
                    <a href="#" class="mr-2">
                        <img src="~/Assets/images/twiter.webp" alt="twiter" />
                    </a>
                    <a href="#">
                        <img src="~/Assets/images/google.webp" alt="google" />
                    </a>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-md-12 col-sm-12 d-block d-lg-flex align-items-lg-end align-items-center text-center">

                

            </div>
        </div>
    </div>

</section>
<!-- menu mobile -->
<section>
    <div class="navigation d-block d-lg-none">
        <div class="d-flex align-items-center text-center list-unstyled mb-0 bg-white">
            <a href="/" class="menu-item home"><img src="~/Assets/images/home.webp" alt="home" /><span> Trang chủ</span></a>
            <a href="tel:0911184952" class="menu-item news"><img src="~/Assets/images/clickcall.png" alt="news" /><span>Gọi điện</span></a>
            @if (httpContextaccessor.HttpContext.Request.Cookies["JWT"] != null)
            {
                <a href="/tai-khoan?id=1" class="menu-item noti"><img src="~/Assets/images/bell.webp" alt="bell" /><span class="count" id="noti-count2"></span><span>Thông báo</span></a>
                <a href="/tai-khoan" class="menu-item account"><img src="~/Assets/images/profile.webp" alt="profile" /><span>Tài khoản</span></a>
            }
            else
            {
                <a href="@Url.Action("Login","Account")" class="menu-item noti ajaxcall"><img src="~/Assets/images/bell.webp" alt="bell" /><span class="count"></span><span>Thông báo</span></a>                
                <a href="@Url.Action("Login","Account")" class="menu-item account ajaxcall"><img src="~/Assets/images/profile.webp" alt="profile" /><span>Tài khoản</span></a>
            }
        </div>

    </div>
</section>
<div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="popup" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="text-right mx-1">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function RegSubscription() {
        var email = $(".send-mail-form input").val();
        $.ajax({
            type: "POST",
            url: "/Home/Subscription?email=" + email,
            dataType: "json",
            success: function (response) {
                alert(response);
                //toastr.success(response);
            },
            failure: function (response) {
                alert(response.responseText);
                //toastr.error(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

    $(document).ready(function () {
        const urlParams = new URLSearchParams(window.location.search);
        const typeSearch = urlParams.get('typeSearch') == null ? "1" : urlParams.get('typeSearch');
        $('.search-form option[value=' + typeSearch + ']').attr('selected', 'selected');

        if ('@User.Identity.IsAuthenticated' === 'True') {
            $.ajax({
                type: "GET",
                url: "/Home/Notification",
                dataType: "html",
                success: function (response) {
                    $('#notification').html(response);
                },
                failure: function (response) {

                },
                error: function (response) {

                }
            });

            $.ajax({
                type: "GET",
                url: "/Home/CountNotification",
                dataType: "html",
                success: function (response) {
                    if (response > 9) {
                        document.getElementById("noti-count2").innerHTML = "9+";
                    }
                    else {
                        document.getElementById("noti-count2").innerHTML = "" + response;
                    }
                },
                failure: function (response) {

                },
                error: function (response) {

                }
            });
        }

    });
</script>