@{ var Menu = (List<HNM.DataNC.ModelsNC.ModelsDTO.ListAllProductCategoryDTO>)ViewBag.CategoryMenuHeader; }

<div class="menu col-lg-2 d-lg-block d-none">
    <div class="card">
        <div class="card-header text-uppercase pl-2 show_menu">
            <h4 class="d-flex align-items-center"><img class="mr-2" src="~/Assets/images/category.png" />Danh Mục</h4>
        </div>
        <div class="card-body p-0" id="my-menu">
            <ul>
                @foreach (var p in Menu)
                {
                    <li class="has-child">
                        <a href=@($"ban-{p.Parent.URL}.pcat")>@p.Parent.Name</a>
                        <ul>
                            @{
                                if (p.Child.Count() > 0)
                                {
                                    foreach (var x in p.Child)
                                    {
                                        <li><a href=@($"ban-{x.URL}.pcat")>@x.Name</a></li>
                                    }
                                }

                            }
                        </ul>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>