  <!-- Nhà cung cấp -->
<article>
    <div class="article-header d-block d-lg-flex my-2">
        <div class="category-title text-uppercase px-2  align-items-center d-block d-lg-flex">
            <h3 class="title">Nhà cung cấp</h3>
            <button class="navbar-toggler d-lg-none d-flex" type="button" data-toggle="collapse" data-target="#navbarNav-ncc" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar navbar-expand-lg category-menu  pl-4  d-block d-lg-flex  align-items-center">

            <nav class="collapse" id="navbarNav-ncc">
                <li class="nav-item ml-3"><a class="nav-link" href="#">NCC Nổi bật</a></li>
                <li class="nav-item ml-3"><a class="nav-link" href="#">NCC Thiết bị</a></li>
                <li class="nav-item ml-3"><a class="nav-link" href="#">NCC Phụ tùng</a></li>
                <li class="nav-item ml-3"><a class="nav-link" href="#">NCC Vật tư</a></li>
                <li class="nav-item ml-3"><a class="nav-link" href="#">NCC Dịch Vụ</a></li>
                <li class="nav-item ml-3"><a class="nav-link" href="#">NCC Thiết bị cho thuê</a></li>
                <li class="nav-item ml-3"><a class="nav-link" href="#">Xem tất cả >></a></li>
            </nav>
        </div>

    </div>
    <div class="article-banner d-flex">
        <div class="col-4 pr-0">
            <img src="Assets/images/article-banner1.webp" />
        </div>
        <div class="col-4 px-2">
            <img src="Assets/images/article-banner3.webp" />
        </div>
        <div class="col-4 pl-0">
            <img src="Assets/images/article-banner2.webp" />
        </div>
    </div>

    <div class="article-content py-2 px-2 mt-2 primary-layout bg-white bg-white news-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide ">
                <div class="card">
                    <a href="#">
                        <div class="image"><img class="card-img -top" src="data:image/gif;base64,R0lGODlhAQABAIABAEdJRgAAACwAAAAAAQABAAACAkQBAA==" data-src="Assets/images/job1.jpg" alt="Card image cap"></div>
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="col-3 px-0"><img src="Assets/images/company 1.png" /></div>
                                <div class="col-9 pl-1 pr-0"><h5 class="card-title">Xe tải chạy bằng cơm MINI-1234 Còn mới 100%</h5></div>
                            </div>
                            <p class="card-text mt-1 mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <div class="d-flex justify-content-end mt-1">
                                <span class="address text-muted">Hà Nội</span>
                            </div>

                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-slide ">
                <div class="card">
                    <a href="#">
                        <div class="image"><img class="card-img -top" src="data:image/gif;base64,R0lGODlhAQABAIABAEdJRgAAACwAAAAAAQABAAACAkQBAA==" data-src="Assets/images/job2.jpg" alt="Card image cap"></div>
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="col-3 px-0"><img src="Assets/images/company 1.png" /></div>
                                <div class="col-9 pl-1 pr-0"><h5 class="card-title">Xe tải chạy bằng cơm MINI-1234 Còn mới 100%</h5></div>
                            </div>
                            <p class="card-text mt-1 mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <div class="d-flex justify-content-end mt-1">
                                <span class="address text-muted">Hà Nội</span>
                            </div>

                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-slide ">
                <div class="card">
                    <a href="#">
                        <div class="image"><img class="card-img -top" src="data:image/gif;base64,R0lGODlhAQABAIABAEdJRgAAACwAAAAAAQABAAACAkQBAA==" data-src="Assets/images/job3.jpg" alt="Card image cap"></div>
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="col-3 px-0"><img src="Assets/images/company 1.png" /></div>
                                <div class="col-9 pl-1 pr-0"><h5 class="card-title">Xe tải chạy bằng cơm MINI-1234 Còn mới 100%</h5></div>
                            </div>
                            <p class="card-text mt-1 mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <div class="d-flex justify-content-end mt-1">
                                <span class="address text-muted">Hà Nội</span>
                            </div>

                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-slide ">
                <div class="card">
                    <a href="#">
                        <div class="image"><img class="card-img -top" src="data:image/gif;base64,R0lGODlhAQABAIABAEdJRgAAACwAAAAAAQABAAACAkQBAA==" data-src="Assets/images/job4.jpg" alt="Card image cap"></div>
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="col-3 px-0"><img src="Assets/images/company 1.png" /></div>
                                <div class="col-9 pl-1 pr-0"><h5 class="card-title">Xe tải chạy bằng cơm MINI-1234 Còn mới 100%</h5></div>
                            </div>
                            <p class="card-text mt-1 mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <div class="d-flex justify-content-end mt-1">
                                <span class="address text-muted">Hà Nội</span>
                            </div>

                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-slide ">
                <div class="card">
                    <a href="#">
                        <div class="image"><img class="card-img -top" src="data:image/gif;base64,R0lGODlhAQABAIABAEdJRgAAACwAAAAAAQABAAACAkQBAA==" data-src="Assets/images/job5.jpg" alt="Card image cap"></div>
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="col-3 px-0"><img src="Assets/images/company 1.png" /></div>
                                <div class="col-9 pl-1 pr-0"><h5 class="card-title">Xe tải chạy bằng cơm MINI-1234 Còn mới 100%</h5></div>
                            </div>
                            <p class="card-text mt-1 mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <div class="d-flex justify-content-end mt-1">
                                <span class="address text-muted">Hà Nội</span>
                            </div>

                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-slide ">
                <div class="card">
                    <a href="#">
                        <div class="image"><img class="card-img -top" src="data:image/gif;base64,R0lGODlhAQABAIABAEdJRgAAACwAAAAAAQABAAACAkQBAA==" data-src="Assets/images/job6.jpg" alt="Card image cap"></div>
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="col-3 px-0"><img src="Assets/images/company 1.png" /></div>
                                <div class="col-9 pl-1 pr-0"><h5 class="card-title">Xe tải chạy bằng cơm MINI-1234 Còn mới 100%</h5></div>
                            </div>
                            <p class="card-text mt-1 mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <div class="d-flex justify-content-end mt-1">
                                <span class="address text-muted">Hà Nội</span>
                            </div>

                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-slide ">
                <div class="card">
                    <a href="#">
                        <div class="image"><img class="card-img -top" src="data:image/gif;base64,R0lGODlhAQABAIABAEdJRgAAACwAAAAAAQABAAACAkQBAA==" data-src="Assets/images/job7.jpg" alt="Card image cap"></div>
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="col-3 px-0"><img src="Assets/images/company 1.png" /></div>
                                <div class="col-9 pl-1 pr-0"><h5 class="card-title">Xe tải chạy bằng cơm MINI-1234 Còn mới 100%</h5></div>
                            </div>
                            <p class="card-text mt-1 mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <div class="d-flex justify-content-end mt-1">
                                <span class="address text-muted">Hà Nội</span>
                            </div>

                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-slide ">
                <div class="card">
                    <a href="#">
                        <div class="image"><img class="card-img -top" src="data:image/gif;base64,R0lGODlhAQABAIABAEdJRgAAACwAAAAAAQABAAACAkQBAA==" data-src="Assets/images/job8.jpg" alt="Card image cap"></div>
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="col-3 px-0"><img src="Assets/images/company 1.png" /></div>
                                <div class="col-9 pl-1 pr-0"><h5 class="card-title">Xe tải chạy bằng cơm MINI-1234 Còn mới 100%</h5></div>
                            </div>
                            <p class="card-text mt-1 mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <div class="d-flex justify-content-end mt-1">
                                <span class="address text-muted">Hà Nội</span>
                            </div>

                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</article>

<div class="line-seprate ">
    <div class="border-top border-bottom m-3 "></div>
</div>