@using Microsoft.Extensions.Configuration
@using Mono.Web
@inject IConfiguration Configuration

@model HNM.DataNC.ModelsNC.ModelsDTO.ListAdvertisingCarouselDTO;
@{
    var MenuServices = (HNM.DataNC.ModelsNC.ModelsDTO.ListProductCategoryDTO)ViewBag.MenuServices;
    var HomeLMD = (HNM.DataNC.ModelsNC.ModelsDTO.ProductPaggingDTO)ViewBag.HomeLMD;
    var HomeDTD = (HNM.DataNC.ModelsNC.ModelsDTO.ProductPaggingDTO)ViewBag.HomeDTD;
    var HomeTD = (HNM.DataNC.ModelsNC.ModelsDTO.ProductPaggingDTO)ViewBag.HomeTD;
    ViewBag.Title = "ĐÁ NINH BÌNH VINH QUANG";
}

@section metatags{

    <meta name="keywords" content="@Configuration["DefaultKeyword"]" />
    <meta name="description" content="@Configuration["DefaultDescription"]" />
    <link id="canonical" rel="canonical" href="@Configuration["DomainName"]" />
}

<!--HomeBanner-->
@await Html.PartialAsync("HomeBanner.cshtml")
<!--HomeSellProduct-->
@await Html.PartialAsync("HomeLMD.cshtml", HomeLMD)
<!--HomeSellProduct-->
@await Html.PartialAsync("HomeDTD.cshtml", HomeDTD)
<!--HomeSellProduct-->
@await Html.PartialAsync("HomeTD.cshtml", HomeTD)
<!--HomeLibrary-->
@*@await Html.PartialAsync("HomeLibrary.cshtml")*@

@*<div id="home-lang-mo-da">

    </div>
    <div id="home-do-tho-da">

    </div>
    <div id="home-tuong-da">

    </div>
    <div id="home-library">

    </div>*@


@*<script>
    var fired = false;
    $(document).scroll(function (e) {

        //// grab the scroll amount and the window height
        var scrollAmount = $(window).scrollTop();
        //var documentHeight = $(document).height();

        //// calculate the percentage the user has scrolled down the page
        //var scrollPercent = (scrollAmount / documentHeight) * 100;
        ////if (scrollPercent > 50) {
        if (scrollAmount >= 1 && fired === false) {
            // run a function called doSomething

            doSomething();
            fired = true;

        }

        function doSomething() {

            $.ajax({
                type: "GET",
                url: "/Home/GetHomeProductCategory?BlockName=Lăng Mộ Đá&ProductCategoryId=1924",
                dataType: "html",
                success: function (response) {
                    $('#home-lang-mo-da').html(response);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });

            $.ajax({
                type: "GET",
                url: "/Home/GetHomeProductCategory?BlockName=Đồ Thờ Đá&ProductCategoryId=1925",
                dataType: "html",
                success: function (response) {
                    $('#home-do-tho-da').html(response);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });

            $.ajax({
                type: "GET",
                url: "/Home/GetHomeProductCategory?BlockName=Tượng Đá&ProductCategoryId=1928",
                dataType: "html",
                success: function (response) {
                    $('#home-tuong-da').html(response);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });

            $.ajax({
                type: "GET",
                url: "/Home/GetHomeLibrary",
                dataType: "html",
                success: function (response) {
                    $('#home-library').html(response);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });

        }

    });
</script>*@