<article class="category-panel">

    <div class="article-content pt-2 px-1 bg-white">
        <div class="d-block d-lg-flex justify-content-lg-between align-items-center text-center mt-2 mb-4">
            <h3 class="text-uppercase mx-1 font-weight-bold justify-content-start">Tất cả máy công trình</h3>
            <div class="justify-content-md-end justify-content-center align-items-center d-block d-sm-flex text-center">
                <span class="justify-content-end m-0 mr-2 numperpage">Số sản phẩm / Trang:</span>
                <select name="" class="justify-content-end">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20" selected="selected">20</option>
                    <option value="25">25</option>
                    <option value="30">30</option>
                </select>
                <nav aria-label="Page navigation " class="justify-content-sm-end justify-content-center mx-2">
                    <ul class="pagination m-0">
                        <li class="page-item disabled">
                            <a class="page-link previous" href="#" tabindex="-1" aria-disabled="true"></a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">6</a></li>
                        <li class="page-item">
                            <a class="page-link next" href="#"> </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row m-0">
            <div class="col-2-5 col-md-3 col-sm-4 col-6 pb-2">
                <div class="card">
                    <a href="#">
                        <div class="percent">30%</div>
                        <div class="image"><img class="card-img-top" src="data:image/gif;base64,R0lGODlhAQABAIABAEdJRgAAACwAAAAAAQABAAACAkQBAA==" data-src="./images/prod5.jpg" alt="Card image cap"></div>
                        <div class="card-body">
                            <h6 class="card-title">Xe tải chạy bằng cơm MINI-1234 Còn mới 100%</h6>
                            <div class="d-flex justify-content-between mt-1">
                                <span class="d-flex address text-muted justify-content-start">Hà Nội</span>
                                <span class="d-flex time text-muted justify-content-end">2 ngày trước</span>
                            </div>
                            <h4 class="price">911.500.000 <span class="curency">đ</span></h4>
                            <h6 class="original-price">911.500.000 <span class="curency">đ</span></h6>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-2-5 col-md-3 col-sm-4 col-6 pb-2">
                <div class="card">
                    <a href="#">
                        <div class="percent">30%</div>
                        <div class="image"><img class="card-img-top" src="data:image/gif;base64,R0lGODlhAQABAIABAEdJRgAAACwAAAAAAQABAAACAkQBAA==" data-src="./images/prod6.jpg" alt="Card image cap"></div>
                        <div class="card-body">
                            <h6 class="card-title">Xe tải chạy bằng cơm MINI-1234 Còn mới 100%</h6>
                            <div class="d-flex justify-content-between mt-1">
                                <span class="d-flex address text-muted justify-content-start">Hà Nội</span>
                                <span class="d-flex time text-muted justify-content-end">2 ngày trước</span>
                            </div>
                            <h4 class="price">911.500.000 <span class="curency">đ</span></h4>
                            <h6 class="original-price">911.500.000 <span class="curency">đ</span></h6>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-2-5 col-md-3 col-sm-4 col-6 pb-2">
                <div class="card">
                    <a href="#">
                        <div class="percent">30%</div>
                        <div class="image"><img class="card-img-top" src="data:image/gif;base64,R0lGODlhAQABAIABAEdJRgAAACwAAAAAAQABAAACAkQBAA==" data-src="./images/prod7.jpg" alt="Card image cap"></div>
                        <div class="card-body">
                            <h6 class="card-title">Xe tải chạy bằng cơm MINI-1234 Còn mới 100%</h6>
                            <div class="d-flex justify-content-between mt-1">
                                <span class="d-flex address text-muted justify-content-start">Hà Nội</span>
                                <span class="d-flex time text-muted justify-content-end">2 ngày trước</span>
                            </div>
                            <h4 class="price">911.500.000 <span class="curency">đ</span></h4>
                            <h6 class="original-price">911.500.000 <span class="curency">đ</span></h6>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-2-5 col-md-3 col-sm-4 col-6 pb-2">
                <div class="card">
                    <a href="#">
                        <div class="percent">30%</div>
                        <div class="image"><img class="card-img-top" src="data:image/gif;base64,R0lGODlhAQABAIABAEdJRgAAACwAAAAAAQABAAACAkQBAA==" data-src="./images/prod8.jpg" alt="Card image cap"></div>
                        <div class="card-body">
                            <h6 class="card-title">Xe tải chạy bằng cơm MINI-1234 Còn mới 100%</h6>
                            <div class="d-flex justify-content-between mt-1">
                                <span class="d-flex address text-muted justify-content-start">Hà Nội</span>
                                <span class="d-flex time text-muted justify-content-end">2 ngày trước</span>
                            </div>
                            <h4 class="price">911.500.000 <span class="curency">đ</span></h4>
                            <h6 class="original-price">911.500.000 <span class="curency">đ</span></h6>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-2-5 col-md-3 col-sm-4 col-6 pb-2">
                <div class="card">
                    <a href="#">
                        <div class="percent">30%</div>
                        <div class="image"><img class="card-img-top" src="data:image/gif;base64,R0lGODlhAQABAIABAEdJRgAAACwAAAAAAQABAAACAkQBAA==" data-src="./images/prod9.jpg" alt="Card image cap"></div>
                        <div class="card-body">
                            <h6 class="card-title">Xe tải chạy bằng cơm MINI-1234 Còn mới 100%</h6>
                            <div class="d-flex justify-content-between mt-1">
                                <span class="d-flex address text-muted justify-content-start">Hà Nội</span>
                                <span class="d-flex time text-muted justify-content-end">2 ngày trước</span>
                            </div>
                            <h4 class="price">911.500.000 <span class="curency">đ</span></h4>
                            <h6 class="original-price">911.500.000 <span class="curency">đ</span></h6>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-2-5 col-md-3 col-sm-4 col-6 pb-2">
                <div class="card">
                    <a href="#">
                        <div class="percent">30%</div>
                        <div class="image"><img class="card-img-top" src="data:image/gif;base64,R0lGODlhAQABAIABAEdJRgAAACwAAAAAAQABAAACAkQBAA==" data-src="./images/prod8.jpg" alt="Card image cap"></div>
                        <div class="card-body">
                            <h6 class="card-title">Xe tải chạy bằng cơm MINI-1234 Còn mới 100%</h6>
                            <div class="d-flex justify-content-between mt-1">
                                <span class="d-flex address text-muted justify-content-start">Hà Nội</span>
                                <span class="d-flex time text-muted justify-content-end">2 ngày trước</span>
                            </div>
                            <h4 class="price">911.500.000 <span class="curency">đ</span></h4>
                            <h6 class="original-price">911.500.000 <span class="curency">đ</span></h6>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-2-5 col-md-3 col-sm-4 col-6 pb-2">
                <div class="card">
                    <a href="#">
                        <div class="percent">30%</div>
                        <div class="image"><img class="card-img-top" src="data:image/gif;base64,R0lGODlhAQABAIABAEdJRgAAACwAAAAAAQABAAACAkQBAA==" data-src="./images/prod7.jpg" alt="Card image cap"></div>
                        <div class="card-body">
                            <h6 class="card-title">Xe tải chạy bằng cơm MINI-1234 Còn mới 100%</h6>
                            <div class="d-flex justify-content-between mt-1">
                                <span class="d-flex address text-muted justify-content-start">Hà Nội</span>
                                <span class="d-flex time text-muted justify-content-end">2 ngày trước</span>
                            </div>
                            <h4 class="price">911.500.000 <span class="curency">đ</span></h4>
                            <h6 class="original-price">911.500.000 <span class="curency">đ</span></h6>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-2-5 col-md-3 col-sm-4 col-6 pb-2">
                <div class="card">
                    <a href="#">
                        <div class="percent">30%</div>
                        <div class="image"><img class="card-img-top" src="data:image/gif;base64,R0lGODlhAQABAIABAEdJRgAAACwAAAAAAQABAAACAkQBAA==" data-src="./images/prod10.jpg" alt="Card image cap"></div>
                        <div class="card-body">
                            <h6 class="card-title">Xe tải chạy bằng cơm MINI-1234 Còn mới 100%</h6>
                            <div class="d-flex justify-content-between mt-1">
                                <span class="d-flex address text-muted justify-content-start">Hà Nội</span>
                                <span class="d-flex time text-muted justify-content-end">2 ngày trước</span>
                            </div>
                            <h4 class="price">911.500.000 <span class="curency">đ</span></h4>
                            <h6 class="original-price">911.500.000 <span class="curency">đ</span></h6>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-2-5 col-md-3 col-sm-4 col-6 pb-2">
                <div class="card">
                    <a href="#">
                        <div class="percent">30%</div>
                        <div class="image"><img class="card-img-top" src="data:image/gif;base64,R0lGODlhAQABAIABAEdJRgAAACwAAAAAAQABAAACAkQBAA==" data-src="./images/prod6.jpg" alt="Card image cap"></div>
                        <div class="card-body">
                            <h6 class="card-title">Xe tải chạy bằng cơm MINI-1234 Còn mới 100%</h6>
                            <div class="d-flex justify-content-between mt-1">
                                <span class="d-flex address text-muted justify-content-start">Hà Nội</span>
                                <span class="d-flex time text-muted justify-content-end">2 ngày trước</span>
                            </div>
                            <h4 class="price">911.500.000 <span class="curency">đ</span></h4>
                            <h6 class="original-price">911.500.000 <span class="curency">đ</span></h6>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-2-5 col-md-3 col-sm-4 col-6 pb-2">
                <div class="card">
                    <a href="#">
                        <div class="percent">30%</div>
                        <div class="image"><img class="card-img-top" src="data:image/gif;base64,R0lGODlhAQABAIABAEdJRgAAACwAAAAAAQABAAACAkQBAA==" data-src="./images/prod4.jpg" alt="Card image cap"></div>
                        <div class="card-body">
                            <h6 class="card-title">Xe tải chạy bằng cơm MINI-1234 Còn mới 100%</h6>
                            <div class="d-flex justify-content-between mt-1">
                                <span class="d-flex address text-muted justify-content-start">Hà Nội</span>
                                <span class="d-flex time text-muted justify-content-end">2 ngày trước</span>
                            </div>
                            <h4 class="price">911.500.000 <span class="curency">đ</span></h4>
                            <h6 class="original-price">911.500.000 <span class="curency">đ</span></h6>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-2-5 col-md-3 col-sm-4 col-6 pb-2">
                <div class="card">
                    <a href="#">
                        <div class="percent">30%</div>
                        <div class="image"><img class="card-img-top" src="data:image/gif;base64,R0lGODlhAQABAIABAEdJRgAAACwAAAAAAQABAAACAkQBAA==" data-src="./images/prod5.jpg" alt="Card image cap"></div>
                        <div class="card-body">
                            <h6 class="card-title">Xe tải chạy bằng cơm MINI-1234 Còn mới 100%</h6>
                            <div class="d-flex justify-content-between mt-1">
                                <span class="d-flex address text-muted justify-content-start">Hà Nội</span>
                                <span class="d-flex time text-muted justify-content-end">2 ngày trước</span>
                            </div>
                            <h4 class="price">911.500.000 <span class="curency">đ</span></h4>
                            <h6 class="original-price">911.500.000 <span class="curency">đ</span></h6>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-2-5 col-md-3 col-sm-4 col-6 pb-2">
                <div class="card">
                    <a href="#">
                        <div class="percent">30%</div>
                        <div class="image"><img class="card-img-top" src="data:image/gif;base64,R0lGODlhAQABAIABAEdJRgAAACwAAAAAAQABAAACAkQBAA==" data-src="./images/prod3.jpg" alt="Card image cap"></div>
                        <div class="card-body">
                            <h6 class="card-title">Xe tải chạy bằng cơm MINI-1234 Còn mới 100%</h6>
                            <div class="d-flex justify-content-between mt-1">
                                <span class="d-flex address text-muted justify-content-start">Hà Nội</span>
                                <span class="d-flex time text-muted justify-content-end">2 ngày trước</span>
                            </div>
                            <h4 class="price">911.500.000 <span class="curency">đ</span></h4>
                            <h6 class="original-price">911.500.000 <span class="curency">đ</span></h6>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-2-5 col-md-3 col-sm-4 col-6 pb-2">
                <div class="card">
                    <a href="#">
                        <div class="percent">30%</div>
                        <div class="image"><img class="card-img-top" src="data:image/gif;base64,R0lGODlhAQABAIABAEdJRgAAACwAAAAAAQABAAACAkQBAA==" data-src="./images/prod2.jpg" alt="Card image cap"></div>
                        <div class="card-body">
                            <h6 class="card-title">Xe tải chạy bằng cơm MINI-1234 Còn mới 100%</h6>
                            <div class="d-flex justify-content-between mt-1">
                                <span class="d-flex address text-muted justify-content-start">Hà Nội</span>
                                <span class="d-flex time text-muted justify-content-end">2 ngày trước</span>
                            </div>
                            <h4 class="price">911.500.000 <span class="curency">đ</span></h4>
                            <h6 class="original-price">911.500.000 <span class="curency">đ</span></h6>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-2-5 col-md-3 col-sm-4 col-6 pb-2">
                <div class="card">
                    <a href="#">
                        <div class="percent">30%</div>
                        <div class="image"><img class="card-img-top" src="data:image/gif;base64,R0lGODlhAQABAIABAEdJRgAAACwAAAAAAQABAAACAkQBAA==" data-src="./images/prod1.jpg" alt="Card image cap"></div>
                        <div class="card-body">
                            <h6 class="card-title">Xe tải chạy bằng cơm MINI-1234 Còn mới 100%</h6>
                            <div class="d-flex justify-content-between mt-1">
                                <span class="d-flex address text-muted justify-content-start">Hà Nội</span>
                                <span class="d-flex time text-muted justify-content-end">2 ngày trước</span>
                            </div>
                            <h4 class="price">911.500.000 <span class="curency">đ</span></h4>
                            <h6 class="original-price">911.500.000 <span class="curency">đ</span></h6>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-2-5 col-md-3 col-sm-4 col-6 pb-2">
                <div class="card">
                    <a href="#">
                        <div class="percent">30%</div>
                        <div class="image"><img class="card-img-top" src="data:image/gif;base64,R0lGODlhAQABAIABAEdJRgAAACwAAAAAAQABAAACAkQBAA==" data-src="./images/prod5.jpg" alt="Card image cap"></div>
                        <div class="card-body">
                            <h6 class="card-title">Xe tải chạy bằng cơm MINI-1234 Còn mới 100%</h6>
                            <div class="d-flex justify-content-between mt-1">
                                <span class="d-flex address text-muted justify-content-start">Hà Nội</span>
                                <span class="d-flex time text-muted justify-content-end">2 ngày trước</span>
                            </div>
                            <h4 class="price">911.500.000 <span class="curency">đ</span></h4>
                            <h6 class="original-price">911.500.000 <span class="curency">đ</span></h6>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-2-5 col-md-3 col-sm-4 col-6 pb-2">
                <div class="card">
                    <a href="#">
                        <div class="percent">30%</div>
                        <div class="image"><img class="card-img-top" src="data:image/gif;base64,R0lGODlhAQABAIABAEdJRgAAACwAAAAAAQABAAACAkQBAA==" data-src="./images/prod6.jpg" alt="Card image cap"></div>
                        <div class="card-body">
                            <h6 class="card-title">Xe tải chạy bằng cơm MINI-1234 Còn mới 100%</h6>
                            <div class="d-flex justify-content-between mt-1">
                                <span class="d-flex address text-muted justify-content-start">Hà Nội</span>
                                <span class="d-flex time text-muted justify-content-end">2 ngày trước</span>
                            </div>
                            <h4 class="price">911.500.000 <span class="curency">đ</span></h4>
                            <h6 class="original-price">911.500.000 <span class="curency">đ</span></h6>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-2-5 col-md-3 col-sm-4 col-6 pb-2">
                <div class="card">
                    <a href="#">
                        <div class="percent">30%</div>
                        <div class="image"><img class="card-img-top" src="data:image/gif;base64,R0lGODlhAQABAIABAEdJRgAAACwAAAAAAQABAAACAkQBAA==" data-src="./images/prod9.jpg" alt="Card image cap"></div>
                        <div class="card-body">
                            <h6 class="card-title">Xe tải chạy bằng cơm MINI-1234 Còn mới 100%</h6>
                            <div class="d-flex justify-content-between mt-1">
                                <span class="d-flex address text-muted justify-content-start">Hà Nội</span>
                                <span class="d-flex time text-muted justify-content-end">2 ngày trước</span>
                            </div>
                            <h4 class="price">911.500.000 <span class="curency">đ</span></h4>
                            <h6 class="original-price">911.500.000 <span class="curency">đ</span></h6>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-2-5 col-md-3 col-sm-4 col-6 pb-2">
                <div class="card">
                    <a href="#">
                        <div class="percent">30%</div>
                        <div class="image"><img class="card-img-top" src="data:image/gif;base64,R0lGODlhAQABAIABAEdJRgAAACwAAAAAAQABAAACAkQBAA==" data-src="./images/prod1.jpg" alt="Card image cap"></div>
                        <div class="card-body">
                            <h6 class="card-title">Xe tải chạy bằng cơm MINI-1234 Còn mới 100%</h6>
                            <div class="d-flex justify-content-between mt-1">
                                <span class="d-flex address text-muted justify-content-start">Hà Nội</span>
                                <span class="d-flex time text-muted justify-content-end">2 ngày trước</span>
                            </div>
                            <h4 class="price">911.500.000 <span class="curency">đ</span></h4>
                            <h6 class="original-price">911.500.000 <span class="curency">đ</span></h6>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-2-5 col-md-3 col-sm-4 col-6 pb-2">
                <div class="card">
                    <a href="#">
                        <div class="percent">30%</div>
                        <div class="image"><img class="card-img-top" src="data:image/gif;base64,R0lGODlhAQABAIABAEdJRgAAACwAAAAAAQABAAACAkQBAA==" data-src="./images/prod5.jpg" alt="Card image cap"></div>
                        <div class="card-body">
                            <h6 class="card-title">Xe tải chạy bằng cơm MINI-1234 Còn mới 100%</h6>
                            <div class="d-flex justify-content-between mt-1">
                                <span class="d-flex address text-muted justify-content-start">Hà Nội</span>
                                <span class="d-flex time text-muted justify-content-end">2 ngày trước</span>
                            </div>
                            <h4 class="price">911.500.000 <span class="curency">đ</span></h4>
                            <h6 class="original-price">911.500.000 <span class="curency">đ</span></h6>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-2-5 col-md-3 col-sm-4 col-6 pb-2">
                <div class="card">
                    <a href="#">
                        <div class="percent">30%</div>
                        <div class="image"><img class="card-img-top" src="data:image/gif;base64,R0lGODlhAQABAIABAEdJRgAAACwAAAAAAQABAAACAkQBAA==" data-src="./images/prod7.jpg" alt="Card image cap"></div>
                        <div class="card-body">
                            <h6 class="card-title">Xe tải chạy bằng cơm MINI-1234 Còn mới 100%</h6>
                            <div class="d-flex justify-content-between mt-1">
                                <span class="d-flex address text-muted justify-content-start">Hà Nội</span>
                                <span class="d-flex time text-muted justify-content-end">2 ngày trước</span>
                            </div>
                            <h4 class="price">911.500.000 <span class="curency">đ</span></h4>
                            <h6 class="original-price">911.500.000 <span class="curency">đ</span></h6>
                        </div>
                    </a>
                </div>
            </div>

        </div>
        <div class="d-block d-lg-flex justify-content-lg-between align-items-center mt-4 pb-4 text-center">
            <h3 class="text-uppercase mx-1  font-weight-bold justify-content-start"></h3>
            <div class="justify-content-md-end justify-content-center align-items-center d-block d-sm-flex text-center">
                <span class="justify-content-end m-0 mr-2 numperpage">Số sản phẩm / Trang:</span>
                <select name="" class="justify-content-end">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
                    <option value="30">30</option>
                </select>
                <nav aria-label="Page navigation " class="justify-content-sm-end justify-content-center mx-2">
                    <ul class="pagination m-0">
                        <li class="page-item disabled">
                            <a class="page-link previous" href="#" tabindex="-1" aria-disabled="true"></a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">6</a></li>
                        <li class="page-item">
                            <a class="page-link next" href="#"> </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>

</article>