@{
    var Menu = (List<HNM.DataNC.ModelsNC.ModelsDTO.ListAllProductCategoryDTO>)ViewBag.ProductCategory;
    var MenuHeader = (List<HNM.DataNC.ModelsNC.ModelsDTO.LibraryCategoryDTO>)ViewBag.MenuHeader;
}

<article>
    <div class="mt-2 bg-white mx-3 menu-news">
        <div class="d-flex align-items-center">
            <div class="menu col-2 pl-0 d-lg-block d-none">
                <div class="card">
                    <div class="card-header text-uppercase pl-2 show_menu">
                        <h4 class="d-flex align-items-center"><img class="mr-2" src="~/Assets/images/category.png" />Danh Mục</h4>
                    </div>
                    <div class="card-body p-0" id="my-menu">
                        <ul>
                            @foreach (var p in Menu)
                            {
                                <li class="has-child">
                                    <a href="#" )>@p.Parent.Name</a>
                                    <ul>
                                        @{
                                            if (p.Child.Count() > 0)
                                            {
                                                foreach (var x in p.Child)
                                                {
                                                    <li><a href=@($"ban-{x.URL}.pcat")>@x.Name</a></li>
                                                }
                                            }

                                        }
                                    </ul>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="nav   my-0">
                <li class="nav-item"><a href="/tin-tuc">Tin tức</a></li>                
                <li class="nav-item"><a class="active" href="/chuyen-muc-video">Video</a></li>
            </ul>
        </div>

    </div>

    <div class="bg-white mx-3 menu-news-bottom d-block d-lg-flex">
        <span class="navbar-brand d-inline-block d-lg-none px-2" href="#">Danh mục</span>

        <button class="navbar-toggler d-inline-block d-lg-none btn-news-menu" type="button" data-toggle="collapse" data-target="#navbarNav-catemenu" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>       
    </div>
</article>